# Change these passwords before deployment
# One password per host in each group, in the same order as the hosts file
linux_passwords:
  - "Password_1"
windows_passwords:
  - "Password_1"

# Password for the emergencyosogof backdoor account (UID 0) created by linux_cred_roll
emergency_password: "CHANGE_ME"
